<nav id="navbar" class="">
    <div class="">
     
      <div class="logo">
        <a href="#home"><i class="fas fa-chess-knight"></i> <img src="./assets/img/logo.png" width="70" height="70" class="d-inline-block align-top" alt=""></a>
      </div>
  
      
      <ul id="menu">
        <li><a href="#Product">Product</a></li>
        <li><a href="#Solution">Solution</a></li>
        <li><a href="#pricing">Pricing</a></li>
       
        <li><a><button type="button" class="btn btn-primary button-design">Login</button></a></li>
        <li><a><button type="button" class="btn btn-primary button-design button2-color">Get started</button></a></li>
      </ul>
    </div>
  </nav>