<div id="main">
   


<div class="row">
  <div class="col-3">
    <mat-card class="bottom-cards col-one">
      <img width="50" src="./assets/img/a7.png"   alt="Card image cap">
      <p class="headerText">Quick cash disbursement</p>
      <p class="description">Get terms loans that your business needs with in 72 hrs</p>
    </mat-card>
    <mat-card class="bottom-cards col-one">
      <img width="50" src="./assets/img/a8.png"   alt="Card image cap">
      <p class="headerText">Low-intrest rate</p>
      <p class="description">Achieve your financial goals with an amazing intrest rate strting at 13% per annum</p>
    </mat-card>
    <mat-card class="bottom-cards col-one">
      <img width="50" src="./assets/img/a9.png"   alt="Card image cap">
      <p class="headerText">Zero Paperwork</p>
      <p>Get started instantly by submitting only your basic details & bank statements</p>
    </mat-card>
  </div>
  <div class="col-3 secondRow">
    <mat-card class="bottom-cards  col-one">
      <img width="50" src="./assets/img/a10.png"   alt="Card image cap">
      <p class="headerText">Ace your business finances</p>
      <p class="description">Manage banking, accounting & evrything in between,on one platform</p>
    </mat-card>
    <mat-card class="bottom-cards col-one">
      <img width="50" src="./assets/img/a11.png"   alt="Card image cap">
      <p class="headerText">loans to fight COVID-19</p>
      <p class="description">Zero EMI for 3 months on Back-to-Business loans upto 1lakh</p>
    </mat-card>
  </div>
  <div class="col-5 boost">
    <div class="card">
      <div>
        <img src="./assets/img/a18.png" class="card2-design">
        <img src="./assets/img/a15.png" class="cards-design">
      </div>
      <div class="view overlay descWidth">
       <p>Get your hands on a term loan that's crafted  for your business</p>
      
      </div>
      <div class="view overlay">
       
        <button type="button" class="btn btn-primary button-design">Get an Open Account</button>
       </div>

    </div>
  </div>
</div>
</div>